.a{
    background-color: blue;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b{

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 5px;
}
.c{
    background-color: yellow;
}
/* @media screen (min-width:500px){
    .a{
        background-color:red;
    }
    
} */
@media screen and (max-width: 500px) {
    .a {
        background-color: red;
        font-size: larger;
        flex-direction: column;
    }
    .a:hover{
        cursor: pointer;
        color:burlywood;
        
    }
}
@keyframes a {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}

/* Applying the animation */
.animated {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;  /* ✅ Needed for translate to work */
    animation: a 2s ease-in-out infinite alternate;
}
.k{
    background-color: yellow;
    color:red;
}
