.a{
    background-color: blue;
    color: brown;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
    margin: 50px;
}
.b{
    background-color: pink;
    min-height: 50vh;
    margin: 30px;
    border-radius: 10px;
}
.k h1{
    color: blue;
    background-color: rgb(95, 165, 42);
    width: 20%;
   border-radius: 5rem;
   text-align: center;
}
/* UsersList.module.scss */
.container {
    text-align: center;
    padding: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  
    &:hover {
      background-color: #0056b3;
    }
  
    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }
  
  .list {
    list-style: none;
    padding: 0;
  
    li {
      background: #f8f9fa;
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  